.logout-button{
    // margin-right: 10%;
    color: black;
}

.couverture{
    width: 96%;
    height: 100%;
    padding: 2%;   
    margin-left: 2%;
    border-radius: 20px;
    margin-top: 20px;
}

.profile-picture {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 38%;
    margin-top: -9%;
    margin-bottom: 8px;
}

  
.personal-info {
    display: flex;
    justify-content: space-around;    
}
  
.info-icon {
    margin-right: 10px;
}
  
.edit-button {
    margin-top: 6%;
    width: 48%;
    margin-left: 24%;
    margin-bottom: 9%;
}
    
.text{
    margin-top: 30px;
    font-size: 100%;
    margin-left: 7%;
}
.name{
    font-size: 100%;
    margin-left: 40%;
    margin-right: 30%; 
}
.profile-picture-container{
    margin-bottom: 25px;
}
.aticlescontainer{
    padding: 20px;
}
