<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-row>
    <ion-title>Reclothy</ion-title>
    <ion-button [routerLink]="['/login']" color="warning" class="signin">Sign in</ion-button>
    <ion-button [routerLink]="['/signup']" color="dark" class="signup">Sign up</ion-button>
  </ion-row>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">main-page</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container [slidesPerView]="1" [loop]="true">
    <swiper-slide><img src="assets/1.png" alt="Slide 1"></swiper-slide>
    <swiper-slide><img src="assets/2.png" alt="Slide 1"></swiper-slide>
    <swiper-slide><img src="assets/3.png" alt="Slide 1"></swiper-slide>
  </swiper-container>
  
</ion-content>
