.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .logincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/login.png'); 
    position: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  
  .login-section {
    font-size: 44px;
    color: rgb(55, 52, 52);
    margin-top: 130px;
  
  }
  
  
  .text-section {
    margin-bottom: 60px;
    font-size: 31px;
    color: black;
    margin-left: 25px;
    margin-right: 20px;
    
  }
  .inputs{
    margin-bottom: 90px;
    margin-right: 40px;
  }
  .password-item {
    color: black;
    border-radius: 10px;
  --background: rgba(221, 207, 181, 0.6); 
}

.email-item {
    color: black;
    border-radius: 10px;
    margin-top: 20px;
  --background: rgba(221, 207, 181, 0.6); 
}

.color{
    margin-left: 50px;
    width: 290px;
    border-radius: 20px;
    background-color:rgb(252, 252, 252,0.1);
}
.password-item ion-icon {
    margin-right: 8px;
  }
.email-item ion-icon {
    margin-right: 8px;
}
.forgotpass{
    color: black;
    font-size: 13px;
    margin-left: 145px;
}
.buttons{
    margin-left: 10px;
    margin-bottom: auto;
    
}
.signin{
margin-right: 9px;
width: 150px;
}
.signup{
    margin-left: 9px;
    width: 150px;
}
  










