<ion-content [fullscreen]="true" class="content-container">
  <div class="logincontent">
    <div class="login-section">
      <p><i>Login</i></p>
    </div>

    <div class="text-section">
      <p class="text">Buy and sell pre-loved clothing,
        <br>contributing to a greener,more<br>eco-friendly world</p>
    </div>
    <div class="inputs">
      <ion-list class="color">
        <ion-item class="password-item">    
          <ion-label position="floating"><ion-icon name="lock-open-outline"></ion-icon>Password</ion-label>
          <ion-input type="password" ></ion-input>
        </ion-item>
        <ion-item class="email-item">
          <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon> Email</ion-label>
          <ion-input type="email" placeholder="email@domain.com"></ion-input>
        </ion-item>
      </ion-list>
      <a class="forgotpass">Forgot your password ?</a>
    </div>
    <div class="buttons">
      <ion-button shape="round" color="warning" class="signin">Sign in</ion-button>
      <ion-button shape="round" color="light" class="signup">Sign up</ion-button>
    </div>
    
  </div>
</ion-content>
