<ion-card class="clothes-card" [routerLink]="'/clothes-details/' + article.id">
  <ion-img [src]="article.imageUrl"></ion-img>
  <ion-card-content>
    <ion-card-title>{{ article.name }}</ion-card-title>
    <ion-card-subtitle>{{ article.price }}</ion-card-subtitle>

    <ion-button class="button">Add to cart</ion-button>

    <ion-button fill="clear" color="favorite" class="favorite-button" (click)="toggleFavorite()">
      <ion-icon name="heart" [style.color]="isFavorite ? 'red' : 'lightpink'" [style.fontSize]="'32px'"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
