.delete{
    margin-top: 13px;
    margin-left: 10%;
    background-color: rgba(244, 137, 5, 0.399);
    height: 50px;
    border-radius: 20px;
    border: 1px solid black;
    width: 80%;
    color: black;
}
.card{
    margin-left: 10%;
    border-radius: 20px;
}