
.clothes-card {
    width: calc(100% - 20px); 
    margin: 10px;
    border-radius: 10px;
    position: relative; 
}
  
.clothes-card ion-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.clothes-card ion-card-content {
  padding: 10px;
}


.favorite {
  color: red; 
}

ion-icon{
  color: rgb(234, 177, 177);
}
.img{
  width: 100%;
  height: 200px;
}


.add-button {
  --background: #b0efd0;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: rgb(23, 23, 83);

  --border-radius: 10px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
  