<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/home-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>Price: {{ item.price }}</p>
      </ion-label>
      <ion-button fill="clear"  slot="end" (click)="removeItem(item)" class="button-delete">
        <ion-icon slot="icon-only" name="trash-outline" class="icon-delete"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cart Total</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Total: {{ total }}</p>
      
    </ion-card-content>

  </ion-card>
  <ion-row class="row">
    <button id="open-modal" expand="block"  class="col-6 buy">Buy</button>
  </ion-row>  

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">
        <ion-list>
          <ion-item class="item" (click)="onItemClicked('Mastercard/VISA')">
            <ion-avatar slot="start">
              <ion-img src="../../../assets/visa.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Mastercard/VISA</h2>
            </ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item class="item" (click)="onItemClicked('Paypal')">
            <ion-avatar slot="start">
              <ion-img src="../../../assets/paypal.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Paypal</h2>
            </ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item class="item" (click)="onItemClicked('E-Wallet')">
            <ion-avatar slot="start">
              <ion-img src="../../../assets/ewallet.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>E-Wallet</h2>
            </ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-item>
        </ion-list>  
      </div>
    </ng-template>
  </ion-modal>



</ion-content>
