.button-delete{
    .icon-delete{
        color: rgb(181, 12, 12);

    }
}
.buy{
    margin-left: 26%;
    margin-top: 7%;
    background-color: rgba(255, 209, 83, 0.767);
    height: 50px;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    font-weight: bold;

}
.block {
    width: 100%;
    height: 300px;
  }
  
  ion-modal {
    --height: auto;
  }
.item{
    margin-top: 10px;
    margin-bottom: 10px;

}

