<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/home-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>Price: {{ item.price }}</p>
      </ion-label>
      <ion-button fill="clear"  slot="end" (click)="removeItem(item)" class="button-delete">
        <ion-icon slot="icon-only" name="trash-outline" class="icon-delete"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cart Total</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Total: {{ total }}</p>
      
    </ion-card-content>

  </ion-card>



</ion-content>
