<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home-page"></ion-back-button>
    </ion-buttons>
    <ion-icon name="shirt-outline" slot="start" class="head"></ion-icon>
    <ion-title>Reclothy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Cover picture -->
  <div class="cover-container">
    <img [src]="covpic" class="couverture">
  </div>

  <!-- Profile picture -->
  <div class="profile-picture-container">
    <img [src]="profilpic" alt="Profile Picture" class="profile-picture">
  </div>

  <!-- Personal information -->
  <div class="personal-info">
    <ion-item lines="none">
      <ion-icon name="call-outline" class="info-icon" slot="start"></ion-icon>
      <ion-label>25763502</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="mail-outline" class="info-icon" slot="start"></ion-icon>
      <ion-label>bhiriala577mail.com</ion-label>
    </ion-item>
  </div>
  
  <ion-button expand="block" fill="outline" [routerLink]="['/edit-profile']" class="edit-button">
    Edit Profile
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-button>


  <!-- My Articles -->
  <p class="text ion-text-center">My Articles</p>

  <ion-row class="ion-justify-content-center">
    <ng-container *ngFor="let article of articles">
      <app-myarticles [article]="article"></app-myarticles>
    </ng-container>
  </ion-row>
</ion-content>

