
.couverture{
    width: 96%;
    height: 100%;
    padding: 2%;   
    margin-left: 2%;
}
// .pics{
//     height: 30%;
// }
.coverpic{
    width: 100%;   
    height: 40%;
}
.profile-picture {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 40%;
    margin-top: -12%;
    margin-bottom: 15px;
}

  
.personal-info {
    display: flex;
    justify-content: space-around;    
}
  
.info-icon {
    margin-right: 10px;
}
  
.edit-button {
    margin-top: 6%;
   width: 48%;
    margin-left: 24%;
    margin-bottom: 9%;
}
    
.text{
    font-size: larger;
    margin-left: 7%;
}