.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content; 

}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../../../assets/login.png');
  background-size: cover;
  background-position: center;
}

.logincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  padding-top: 20px;
}

.login-section {
  padding: 5%;
  font-size: 2em; 
  color: black;
  font-weight: bold;
}

.text-section {
  font-size: 1.5em; 
  text-align: center;
  padding: 2%;
  color: black;
}

.inputs {
  width: 87%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0); 
}


.email-item, .password-item {
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 6px;
  border: 2px solid black; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --background: #f0f0ed8a;
  color: black;
}

.forgotpass-item {
  margin-left:39px ;
}

.forgotpass {
  color: rgb(7, 28, 105);
  font-weight: bold;
  font-size: 13px;
}

.buttons {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin-top: 5px; 
  margin-left: 10px;
}
.admin{
  display: flex;
  justify-content: space-around;
  width: 40%;
  transform: (translate(-62px,-22px));
  margin-left: 10px;
}

.signin, .signup {
  flex: 1;
  margin: 10px;
  border: 2px solid black; 
  --border-radius: 50px; 
  border-radius: 50px; 
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.1); 
}

.signin:hover, .signup:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
