.clothes-card {
    width: calc(100% - 20px); 
    margin: 10px;
    border-radius: 10px;
    position: relative; 
  }
  
  .clothes-card ion-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 200px; 
    object-fit: cover; /* Assure que l'image couvre entièrement la zone définie */
  }
  
  .clothes-card ion-card-content {
    padding: 10px;
  }
  
  .edit-button {
    position: absolute;
    bottom: 10px;
  
  
  }
  
  .icon {
    color: bisque;
    font-size: 30px;
  }
  