
.logout-button {
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 20px;
}

.couverture{
    width: 96%;
    height: 100%;
    padding: 2%;   
    margin-left: 2%;
    border-radius: 20px;
    margin-top: 10px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture-container {
    width: 130px; 
    height: 130px; 
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; 
    margin-top: 20px;
    margin-top: -15%;
    margin-left: 30%;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.personal-info ion-item{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-icon {
    margin-right: 10px;
}

.edit-button {
    margin-top: 6%;
    width: 48%;
    margin-left: 24%;
    margin-bottom: 9%;
    color: white;
    background-color: rgb(0, 0, 0);
    --color: rgb(0, 0, 0);
    border-radius: 30px;
    --border-radius: 30px;
    --border-color: rgba(240, 248, 255, 0);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.481); 

}

.text {
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 10px;
}

.articles-container {
    padding: 10px;
}

