.logout-button {
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.couverture{
    width: 96%;
    height: 100%;
    padding: 2%;   
    margin-left: 2%;
    border-radius: 20px;
    margin-top: 10px;
}

.profile-picture {
    width: 20%;
    height: auto;
    border-radius: 60%;
    overflow: hidden;
    margin-left: 38%;
    margin-top: -15%;
    // margin-bottom: 8px;
}

.personal-info ion-item{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 20px;
}

.info-icon {
    margin-right: 10px;
}

.edit-button {
    margin-top: 6%;
    width: 48%;
    margin-left: 24%;
    margin-bottom: 9%;
    color: white;
    background-color: rgb(0, 0, 0);
    --color: rgb(0, 0, 0);
    border-radius: 30px;
    --border-radius: 30px;
    --border-color: rgba(240, 248, 255, 0);
}

.text {
    font-size: 1.2rem; /* Adjust as needed */
    margin-left: 7%;
    margin-bottom: 10px;
}

.articles-container {
    padding: 10px;
}

