<ion-tabs >
  <ion-tab-bar >
    <ion-tab-button tab="home-page">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="add">
      <ion-icon name="add"></ion-icon>
      Add
    </ion-tab-button>
    <ion-tab-button tab="favorites" [routerLink]="['/tabs/myfav']">
      <ion-icon name="heart"></ion-icon>
      Favorites
    </ion-tab-button>
    <ion-tab-button tab="profile" [routerLink]="['/tabs/profil']">
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>