<ion-card class="clothes-card">
  <ion-img *ngIf="article.imageUrl" loading="lazy" alt="{{ article.name }}" [src]="article.imageUrl"></ion-img>
  <ion-card-content>
<!-- loading="lazy" to optimize image loading  -->
<!-- *ngIf="article.imageUrl" to handle error -->
    <ion-row>
      <ion-col>
        <ion-card-title>{{ article.name }}</ion-card-title>
        <ion-card-subtitle> ${{ article.price }} </ion-card-subtitle>
      </ion-col>

      <ion-col class="ion-text-right">
        <ion-button aria-label="Add to favorites" fill="clear" (click)="toggleFavorite(article)" [class.favorite]="isFavorite">
          <ion-icon name="heart" slot="icon-only" [ngClass]="{ 'favorite': isFavorite }"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-button (click)="addCart(article)" expand="block" class="add-button">Add to cart</ion-button>
    
  </ion-card-content>
</ion-card>
