<ion-card class="clothes-card">
  <ion-img [src]="article.imageUrl"></ion-img>
  <ion-card-content>
    <ion-card-title>{{ article.name }}</ion-card-title>
    <ion-card-subtitle>{{ article.price }}</ion-card-subtitle>
    <ion-button expand="block" class="add-button">Add to cart</ion-button>
    
    <ion-button class="favorite-button" (click)="toggleFavorite()">
      <ion-icon name="heart" [style.color]="isFavorite ? 'danger' : 'light'"></ion-icon>
    </ion-button>
    
  </ion-card-content>
</ion-card>
