<ion-app>
  <ion-router-outlet></ion-router-outlet>

  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="add">
        <ion-icon name="add"></ion-icon>
        Add
      </ion-tab-button>
      <ion-tab-button tab="favorites">
        <ion-icon name="heart"></ion-icon>
        Favorites
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  

</ion-app>
