<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Article</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-col>
  <div class="background-image"></div>
  <div class="addarticlecontent">
    <p class="titre">Post your article</p>
    <ion-item class="name">
      <ion-label position="floating">Article Name</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item class="price">
      <ion-label position="floating">Price</ion-label>
      <ion-input [(ngModel)]="price"></ion-input>
    </ion-item>
    <ion-radio-group class="radioGrp" [(ngModel)]="category">
      <ion-label>Category </ion-label>
      <ion-item >
         
          <ion-radio value="woman" ></ion-radio>
          <ion-label>Woman</ion-label><ion-row> <ion-col></ion-col></ion-row>
          <ion-radio value="man"></ion-radio>
          <ion-label>Man</ion-label>
      </ion-item>
   
    </ion-radio-group>


      <ion-button class="takePicButton" (click)="takePicture()">Select Picture</ion-button>

    <ion-button class="buttonAdd" (click)="addArticle()">Add Article</ion-button>
  </div>
</ion-col>
</ion-content>
