
.titre{
  padding: 5%;
  font-size: 2em; 
  color: black;
  font-weight: bold;
  z-index: 1;
}

.name{
    margin-bottom: 15px;
    border: 2px solid black; 
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --background: rgba(255, 255, 255, 0.762);
    color: black;
    width: 58%;

}
.price{
    margin-bottom: 15px;
    border: 2px solid black; 
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --background: rgba(255, 255, 255, 0.762);
    color: black;
    width: 58%;
}

.radioGrp ion-item  {
  margin-bottom: 15px;
  border: 2px solid black; 
  border-radius: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --background: rgba(255, 255, 255, 0.762);
  color: black;
  --width: 100%;
}

.addarticlecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 250, 191, 0.441);

  }
  .labelimg{
    font-size: 20px;
    margin-bottom: 13px;

  }
  .selectpho{
    margin-bottom: 5px;
  }
  
.takePicButton{
    --background: rgb(91, 188, 164); 
    --border: 1px solid black; 
    --border-radius: 10px;
}

  .buttonAdd{
    --border: 2px solid rgb(5, 5, 5); 
    --border-radius: 10px; 
    --box-shadow: 0 2px 4px rgba(7, 7, 7, 0.608);
    --background: #fdaa81;
    margin-top: 40px;
    font-size: large;
    font-weight: bold;

  }